.navbar {
  background-color: #0d6efd;
}

.navbar .navbar-brand,
.navbar .nav-link,
.navbar .bi {
  color: #ffffff;
}

.navbar .nav-link.active {
  font-weight: 600;
  border-bottom: 2px solid #ffffff;
}

nav.navbar {
    background-color: #2188D9;
    color: #fff;
    a {
        color: #fff;
        &:hover {
            color:#1773B8;
        }
    }
    .navbar-nav {
        .nav-link {
            color: #fff;
            &:hover {
                color: #1773B8;
            }
        }
    }
}